.movie_detail h2{
  color: white;
  margin-bottom:1px
}
span{
  color: white;
}
.movie_detail .row{
  margin-bottom:30px;
}
.dark{
  background: radial-gradient(ellipse at bottom,#292d61 30%,#171941 80%);
}
.inverted {
  filter: invert(100%);
}
.review_field{
  margin-top: 30px;
}
.charact{
  margin-top:30px;
  margin-bottom:10px;
  color: #00b290;
}
